.fupsa { 
  border-left-width: 62px;
  line-height: 78px;
  line-height: 17px;
  border-right-width: 24px;
  padding-top: 31px;
  margin-right: 30px;
  padding-right: 66px;
  padding-top: 9px;
  padding-left: 81px;
  font-size: 90px;
  border-right-width: 68px;
  margin-top: 62px;
  margin-right: 74px;
  border-left-width: 7px;
  margin-left: 55px;
  border-bottom-width: 21px;
  font-size: 15px;
  margin-bottom: 19px;
  line-height: 37px;
  line-height: 84px;
  padding-top: 27px;
  padding-left: 84px;
  margin-right: 80px;
  padding-bottom: 69px;
  padding-left: 59px;
  padding-bottom: 64px;
  padding-bottom: 38px;
  margin-left: 88px;
  padding-left: 48px;
  margin-top: 3px;
  border-top-width: 53px;
  margin-left: 44px;
  padding-top: 58px;
  padding-left: 13px;
  border-right-width: 51px;
  border-bottom-width: 24px;
  padding-top: 61px;
  padding-top: 47px;
  margin-top: 24px;
  padding-left: 91px;
  padding-bottom: 81px;
  font-size: 25px;
  border-top-width: 35px;
  margin-top: 4px;
}
