.fupsa { 
  border-left-width: 62px;
  line-height: 78px;
  line-height: 17px;
  border-right-width: 24px;
  padding-top: 31px;
  margin-right: 30px;
  padding-right: 66px;
  padding-top: 9px;
  padding-left: 81px;
  font-size: 90px;
  border-right-width: 68px;
  margin-top: 62px;
  margin-right: 74px;
  border-left-width: 7px;
  margin-left: 55px;
  border-bottom-width: 21px;
  font-size: 15px;
  margin-bottom: 19px;
  line-height: 37px;
  line-height: 84px;
  padding-top: 27px;
  padding-left: 84px;
  margin-right: 80px;
  padding-bottom: 69px;
  padding-left: 59px;
  padding-bottom: 64px;
  padding-bottom: 38px;
  margin-left: 88px;
  padding-left: 48px;
  margin-top: 3px;
  border-top-width: 53px;
  margin-left: 44px;
  padding-top: 58px;
  padding-left: 13px;
  border-right-width: 51px;
  border-bottom-width: 24px;
  padding-top: 61px;
  padding-top: 47px;
  margin-top: 24px;
  padding-left: 91px;
  padding-bottom: 81px;
  font-size: 25px;
  border-top-width: 35px;
  border-right-width: 62px;
  padding-right: 68px;
  border-left-width: 95px;
  line-height: 9px;
  font-size: 22px;
  margin-bottom: 94px;
  margin-right: 14px;
  padding-left: 25px;
  border-top-width: 18px;
  font-size: 80px;
  border-left-width: 25px;
  border-bottom-width: 81px;
  padding-top: 6px;
  padding-left: 57px;
  border-right-width: 28px;
  padding-right: 59px;
  margin-bottom: 21px;
  padding-bottom: 61px;
  margin-bottom: 59px;
  margin-right: 96px;
  border-top-width: 7px;
  margin-top: 77px;
  padding-right: 62px;
  font-size: 36px;
  border-left-width: 95px;
  padding-bottom: 70px;
  padding-right: 44px;
  border-right-width: 34px;
  margin-bottom: 20px;
  padding-left: 53px;
  border-right-width: 16px;
  font-size: 1px;
  border-right-width: 69px;
  padding-left: 66px;
  margin-top: 89px;
  padding-right: 14px;
  padding-left: 48px;
  margin-right: 92px;
  border-left-width: 95px;
  border-top-width: 98px;
  margin-bottom: 67px;
  border-top-width: 25px;
  margin-top: 71px;
  padding-right: 6px;
  padding-left: 83px;
  margin-right: 92px;
  font-size: 41px;
  border-left-width: 50px;
  border-left-width: 34px;
  padding-bottom: 21px;
  border-top-width: 13px;
  line-height: 2px;
  margin-bottom: 25px;
  padding-top: 51px;
  font-size: 14px;
  padding-top: 19px;
  padding-right: 62px;
  padding-top: 57px;
  padding-left: 77px;
  line-height: 79px;
  border-right-width: 63px;
  border-top-width: 88px;
  border-bottom-width: 59px;
  margin-left: 79px;
  margin-bottom: 70px;
  padding-right: 5px;
  font-size: 13px;
}
