.fupsa { 
  border-left-width: 62px;
  line-height: 78px;
  line-height: 17px;
  border-right-width: 24px;
  padding-top: 31px;
  margin-right: 30px;
  padding-right: 66px;
  padding-top: 9px;
  padding-left: 81px;
  font-size: 90px;
  border-right-width: 68px;
  margin-top: 62px;
  margin-right: 74px;
  border-left-width: 7px;
  margin-left: 55px;
  border-bottom-width: 21px;
  font-size: 15px;
  margin-bottom: 19px;
  line-height: 37px;
  line-height: 84px;
  border-top-width: 73px;
}
